body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    font-family: Roboto;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    margin-left: 75px;
    margin-right: 75px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    color: #E5E7EB;
    font-size: 18px;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.text1 {
    text-align: center;
    font-size: 36px;

}

.topp {
    display: flex;
    flex-direction: column;
}

.top button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
}

.ima {
    display: flex;
    flex-direction: row;
}

.im1,
.im2,
.im3,
.im4,
.midt {
    display: flex;
    flex-direction: column;
}